# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Ignore build output
target/
out/
bin/

# Ignore temporary files
*.log
*.class

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore Maven wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
